.footer {
  background-color: var(--secondary-dark);
  color: var(--primary-light);
  text-align: center;
  padding: 1rem;
}

.footer_p {
  background-color: var(--secondary-dark);
}

@media screen {
  @media (min-width: 768px) {
    .footer {
      padding: 2rem;
    }
  }
}
