.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--primary-light);
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--secondary-light);
  margin-bottom: 1rem;
}

.skills_title {
  font-size: 1.5rem;
  color: var(--primary-light);
  margin-bottom: 1rem;
}

.skills_list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.skill_item {
  background-color: var(--secondary-light);
  color: var(--primary-dark);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 0.75rem;
}

@media screen {
  @media (min-width: 768px) {
    .title {
      font-size: 3rem;
    }

    .skills_title {
      font-size: 2rem;
    }
  }
}
