.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--primary-light);
  text-align: center;
}

.form {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}

.form_group {
  margin-bottom: 1rem;
}

.form_group label {
  display: block;
  font-size: 1.5rem;
  color: var(--secondary-light);
  text-align: left;
  margin-bottom: 0.5rem;
}

.form_group input,
.form_group textarea {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  width: 100%;
  padding: 0.75rem 1rem;
  border: 2px solid var(--secondary-light);
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.3s;
  font-family: inherit;
}

.form_group input:focus,
.form_group textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.input_error {
  border-color: var(--error-color);
}

.input_error:focus {
  border-color: var(--error-color);
}

.error_message {
  display: block;
  color: var(--error-color);
  font-size: 1rem;
  margin-top: 0.5rem;
}

.form-group textarea {
  resize: vertical;
  min-height: 120px;
}

.submit_btn {
  width: 100%;
  padding: 1rem;
  background-color: var(--secondary-dark);
  color: var(--primary-light);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  font-family: inherit;
}

.submit_btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  transform: none;
}

@media (hover: hover) {
  .submit_btn:hover:not(:disabled) {
    background-color: var(--accent-color);
    transform: translateY(-2px);
  }
}

@media screen {
  @media (min-width: 768px) {
    .title {
      font-size: 3rem;
    }

    .form_group label {
      font-size: 2rem;
    }
  }
}
