.text {
  margin: 1rem;
}

.text_title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--primary-font-color);
}

.text_subtitle {
  font-size: 1.5rem;
  color: var(--secondary-font-color);
  margin-bottom: 1.5rem;
}

.text_description {
  font-size: 1rem;
  color: var(--tertiary-font-color);
  line-height: 1.5;
}

@media screen {
  @media (min-width: 768px) {
    .text_title {
      font-size: 3rem;
    }

    .text_subtitle {
      font-size: 2rem;
    }
  }

  @media (min-width: 1024px) {
    .image_text_content {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
    }

    .text_subtitle {
      font-size: 2rem;
    }
  }
}
