.image_text_content {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  text-align: left;
}

.text {
  margin: 1rem;
}

.text_title {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--primary-font-color);
}

.text_subtitle {
  font-size: 1.5rem;
  color: var(--secondary-font-color);
  margin-bottom: 1.5rem;
}

.text_description {
  font-size: 1.1rem;
  color: var(--tertiary-font-color);
  margin-bottom: 2rem;
  line-height: 1.8;
}
