.image {
  margin: 1rem;
}
 
.image_round {
  width: 100px;
  height:100px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen {
  @media (min-width: 768px) {
    .image_round {
      width: 150px;
      height:150px;
    }
  }
}
