.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--secondary-dark);
  z-index: 1000;
}

.navbar_links {
  background-color: var(--secondary-dark);
  display: flex;
  list-style: none;
}

.navbar_links_button {
  background-color: var(--secondary-dark);
  border: none;
  color: var(--primary-light);
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all 0.3s;
  font-family: inherit;
}

@media (hover: hover) {
  .navbar_links_button:hover {
    background-color: var(--accent-color);
    transform: translateY(-2px);
  }
}

.active_section {
  text-decoration: underline;
}

@media screen {
  @media (min-width: 768px) {
    .navbar {
      padding: 2rem;
    }

    .navbar_links {
      gap: 1rem;
    }

    .navbar_links_button {
      font-size: 1.5rem;
    }
  }
}
