.footer {
  background-color: var(--secondary-background-color);
  color: var(--primary-font-color);
  text-align: center;
  padding: 2rem;
  margin-top: auto;
}

.footer_p {
  background-color: var(--secondary-background-color);
}
