.social_media {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.icon {
  color: var(--primary-font-color);
  font-size: 2.5rem !important;
  transition: background-color 0.3s, transform 0.2s;
}

@media (hover: hover) {
  .icon:hover {
    color: var(--accent-color);
    transform: translateY(-2px);
  }
}
