.social_media {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.icon {
  color: white;
  font-size: 2.5rem !important;
}

@media (hover: hover) {
  .icon:hover {
    color: var(--accent-color);
  }
}
